<span>
  <div class="text-center center-block" ng-show="view.movies.length == 0">
    <h1>Angular OMDb API Search</h1>
    <h4>Enter a movie by title</h4>
    <form role="search" ng-submit="getMovie(movieName)">
      <div class="form-group">
        <input type="text" class="form-control center-block searchbar" placeholder="e.g. Die Hard" ng-model="movieName">
      </div>
      <a href="#/"><button type="submit" class="btn btn-primary">Submit</button></a>
    </form>
  </div>

  <div ng-repeat="movie in view.movies track by $index" class="singleMovie">
    <!-- <img ng-src="{{ movie.Poster }}" class="results"> -->
    <div class="movieInfo text-center">
      <h3><a href="#/{{movie.imdbID}}">{{ movie.Title }}</a></h3>
      <p>Released: {{ movie.Year }}</p>
    </div>
  </div>
</span>
