h1.main-header {
  text-align: center;
}

img {
  float: left;
}

div.singleMovie {
  border: 1px solid black;
  border-radius: 8px;
  padding: 2%;
  margin: 2%;
  min-height: 300px;
  max-width: 40%;
}
