h1.main-header {
  text-align: center;
}


div.singleMovie {

  border-radius: 8px;
  padding: 2%;
  margin: 2%;
  min-height: 300px;
  background-color: rgba(190, 190, 190, 0.5)
}

img {
  float: left;
  height: 250px;
  margin-right: 1%;
}
